<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>우아한 체스게임</title>
    <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/css/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>

</head>
<body>

<div class="chess-game">

    <div class="game-title">
        <h1 class="game-title-header">우아한 체스게임</h1>
    </div>
