body {
    position: relative;
    margin: 0;
    font-family: 'Do Hyeon', sans-serif;
}
header {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

header .index-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    border: solid slateblue 3px;
}

.rooms-section .inner {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: solid slateblue 3px;
    background-color: skyblue;
    border-radius: 5px;
}

.rooms-section .inner .rooms-list {
    flex-grow: 5;
}

.room-box {
    background-color: antiquewhite;
    padding: 13px;
    width: 90%;
    height: 30px;
    margin: 6px auto;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.room-box .room-title {
    position: absolute;
    left: 18px;
    font-size: 21px;
    color: slateblue;
}

.room-box .enter {
    position: absolute;
    right: 12px;
    font-size: 27px;
    width: 72px;
    height: 42px;
    border: solid slateblue 2.5px;
    border-radius: 5px;
}

.room-box .enter:hover {
    cursor: pointer;
    background-color: chartreuse;
}

.create-button {
    margin: 9px;
    font-size: 30px;
    width: 120px;
    height: 110px;
    border: solid slateblue 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.create-button:hover {
    cursor: pointer;
    background-color: chartreuse;
}

.create-form {
    display: flex;
    justify-content: center;
}

.create-form .inner{
    visibility: hidden;
    width: 400px;
    height: 150px;
    background-color: tomato;
    position: absolute;
    top: 150px;
}

.create-form label {
    font-size: 21px;
}

.create-form .relative-inner {
    position: relative;
    width: 100%;
}

.create-form form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.create-form .inner .room-title {
    margin-left: 5px;
    border-radius: 4px;
    width: 285px;
    height: 21px;
}

.create-form .room-button {
    width: 120px;
    height: 47px;
    font-size: 21px;
    border-radius: 5px;
    border: solid slateblue 3px;
}

.create-form .room-button:hover {
    cursor: pointer;
    background-color: chartreuse;
}

.create-form #create-button {
    position: absolute;
    right: 7px;
    bottom: 55px;
}

.create-form #revert-button {
    position: absolute;
    right: 7px;
    bottom: 5px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: tomato;
    position: fixed;
    bottom: 0;
    text-align: center;
}

footer .creator {
    margin-top: 15px;
}
