h1 {
    text-align: center;
}

p {
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 5px;
}

div {
    margin: auto;
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
}

div .gameList {
    text-decoration: underline wavy;
}

button {
    padding: 5px;
    max-width: 300px;
    font-size: 15px;
    margin-bottom: 30px;
    background-color: aquamarine;
}

button:hover{
    background-color: lightslategray;
    color: white;
    box-shadow:-200px 0 0 0 rgba(0,0,0,0.5) inset;
}

p:hover{
    color: cornflowerblue;
}