#title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#newRoom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#rooms {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room {
  display: flex;
  justify-content: center;
  align-items: center;
}

.roomDeleteButton {
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
