.title {
    position: fixed;
    width: 600px;
    height: 300px;
    top: 10%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h1 {
    text-align: center;
    color: darksalmon;
}
.list {
    border-radius: 40px 80px / 80px 40px;
    position: fixed;
    background: lavenderblush;
    top: 38%;
    left: 35%;
    border: 1px solid black;
    box-shadow: 5px 5px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-bottom: 60px;
}

tr {
    text-align: center;
}

.title_table {
    align-content: center;
    width: 540px;
    font-size: large;
    font-weight: bold;
    border-bottom: 2px solid black;
}


.delete_table {
    align-content: center;
    font-size: large;
    width: 100px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

td:hover {
    background-color: darksalmon;
    transition: 1s;
}


.list_line {
    width: 640px;
    display: flex;
}

.menu {
    position: fixed;
    width: 200px;
    height: 300px;
    top: 50%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.chess-table {
    position: fixed;
    margin-top: 80px;
    border: black;
    top: 50%;
    left: 35%;
    border: 4px solid black;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.chess-row {
    height: 80px;
    width: 640px;
    display: flex;
}

.piece-box {
    width: 80px;
    height: 80px;
    display: flex;
}

.piece-box.white-box {
    background: #4C4C4C;
}

.piece-box.black-box {
    background: #FFD9EC;
}

img {
    width: 100%;
}

.img-style {
    width: 30px;
    height: 40px;
    display: block;


}

/*popup*/
.popup_layer {position:fixed;top:0;left:0;z-index: 10000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
/*팝업 박스*/
.popup_box{position: relative;top:50%;left:50%; overflow: auto; height: 500px; width:375px;transform:translate(-50%, -50%);z-index:1002;box-sizing:border-box;background:#fff;box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);}
/*컨텐츠 영역*/
.popup_box .popup_cont {padding:50px;line-height:1.4rem;font-size:14px; }
.popup_box .popup_cont h2 {padding:15px 0;color:#333;margin:0;}
.popup_box .popup_cont p{ border-top: 1px solid #666;padding-top: 30px;}
/*버튼영역*/
.popup_box .popup_btn {display:table;table-layout: fixed;width:100%;height:70px;background:#ECECEC;word-break: break-word;}
.popup_box .popup_btn a {position: relative; display: table-cell; height:70px;  font-size:17px;text-align:center;vertical-align:middle;text-decoration:none; background:#ECECEC;}
.popup_box .popup_btn a:before{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
.popup_box .popup_btn a:after{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.popup_box .popup_btn a.close_day {background:#5d5d5d;}
.popup_box .popup_btn a.close_day:before, .popup_box .popup_btn a.close_day:after{display:none;}
/*오버레이 뒷배경*/
.popup_overlay{position:fixed;top:0px;right:0;left:0;bottom:0;z-index:1001;;background:rgba(0,0,0,0.5);}
/*popup*/
