body {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 30px;
    color: grey;
    text-decoration: none;
}
