html, body{
  height:100%;
}
.container{
  height:100%;
}
.room-list-title{
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  margin-top: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: larger;
  font-weight: bold;
}
.room-item{
  background: lightgray;
  border-radius: 0.3em;
  border: 1px solid black;
  padding: 5px;
  margin-right: 3%;
  margin-left: 3%;
}
.game-info-name{
  font-weight:bold;
  font-size:large;
}
.room-list{
  padding-left: 5%;
  padding-right: 5%;
}
.btn{
  float:right;
}
.create-box{
  padding: 5px;
  border: 1px solid black;
}
.create-form {
  padding : 5px;
}
.input-form{
  margin: 3px;
  width : 90%;
}
.create-room-btn{
  width : 100%;
}
