body {
    background-color: #fcffda;
}

.chess-board {
    display: grid;
    grid-template-columns: 20px repeat(8, 80px) 20px;
    grid-template-rows: 30px repeat(8, 80px) 30px;
    border: 10px solid black;
    width: 680px;
    background-color: #836936;
    background-image: url("/images/board_back.jpeg");
    box-shadow: 0 17px 20px -18px rgba(0, 0, 0, 1);
    margin: 0 auto;
}

.white-square {
    background-image: url("/images/white_square.jpg");
    color: black;
}

.black-square {
    background-image: url("/images/black_square.jpg");
    color: white;
}

.column-header {
    font-family: "Futura", serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.row-header {
    font-family: "Futura", serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-align: center;
    line-height: 80px;
}


:root {
    --button-color: #ffffff;
    --button-bg-color: #0d6efd;
    --button-hover-bg-color: #025ce2;
}

.piece {
    width: 70px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

.selected {
    background: green;
}

.chess-button-container {
    text-align: center;
    margin-bottom: 30px;
}

#chess-status {
    font-family: "Futura", serif;
    font-size: 30px;
    line-height: 30px;
    height: 100px;
}

.chess-header {
    text-align: center;
    font-size: 50px;
    font-family: "Futura", serif;
    font-weight: bold;
}

button, input {
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 10px 30px 10px;
    font-size: 18px;
}

button {
    border-color: #333;
    background-color: #444;
}

button:hover, button:focus, button:active {
    background-color: #666;
    border-color: #555;
}

input {
    color: #000000;
}

#turn-status {
    font-family: "Futura", serif;
    font-size: 35px;
    line-height: 30px;
    height: 40px;
    font-weight: bold;
}

#rooms {
    margin-left: auto;
    margin-right: auto;
    background-color: #836936;
}