@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

@font-face {
    font-family: "BMHANNAAir";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: BMHANNAAir;
    font-size: 30px;
}

.result {
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
}

.result p {
    font-size: 32px;
    margin: 0 auto;
}

.result button {
    font-size: 32px;
    margin: 0 auto;
}

#go-main {
    font-size: 28px;
}