body {
    background: dimgray
}

.outer_box {
    width: 800px;
    height: 800px;
    margin: 50px auto 50px 200px;
    float: left;
}

.score_board {
    width: 300px;
    height: 600px;
    margin: 150px 50px;
    float: left;
}

.inner_score {
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    float: top;
    text-align: center;
}

.turn {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    float: top;
    text-align: center;
}

.turn_box {
    width: 130px;
    height: 130px;
    float: left;
    padding: 10px;
}

.win_text {
    width: 140px;
    height: 50px;
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
    visibility: hidden;
}

.draw_text {
    width: 300px;
    height: 50px;
    padding-top: 160px;
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
    visibility: hidden;
}

.inner_box {
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    display: table;
}

.inner_box > div {
    vertical-align: middle;
    display: table-cell
}

.black {
    background-color: grey;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.ui-button {
    width: 100px;
    height: 50px;
    font-size: x-large;
}

.score {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.error {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    color: darkred;
}

.piece_img {
    height: 80px;
    width: 80px;
    padding: 5px;
}
