* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F3E4DF;
}

.chessRoomList {
    position: absolute;
    /* display: flex; */
    display: none;
    flex-direction: column;
    margin-left: 30vw;
    width: 40vw;
    justify-content: center;
    background-color: #E5CCC8;
    z-index: 1;
    box-shadow: 3px 3px 3px 3px gray;
    border-radius: 20px;
}

.chessRoom {
    color: #522632;
    align-items: center;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.chessRoomName {
    width: 100%;
    text-align: center;
}

.chessRoomBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1vh;
}

.chessRoomJoinBtn {
    width: 10%;
    margin-right: 1.5%;
    height: 30px;
    border-radius: 20px;
}

.chessRoomJoinBtn:hover, .closeRoomListBtn:hover, .chessRoomDeleteBtn:hover {
    cursor: pointer;
}


.chessRoomDeleteBtn {
    width: 10%;
    margin-left: 1.5%;
    height: 30px;
    border-radius: 20px;
}

.closeRoomListBtn {
    background-color: #6F3B48;
    color: white;
    width: 30%;
    margin-left: 35%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 30px;
    border-radius: 20px;
}

.title {
    color: #522632;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#saveGameBtn {
    margin-left: 20px;
    width: 100px;
    background-color: #522632;
    color: #F3E4DF;
    box-shadow: 3px 3px 3px 3px gray;
    border-radius: 20px;
}

#saveGameBtn:hover {
    cursor: pointer;;
}

.chessBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #522632;
    width: 35vw;
    height: 35vw;
}

.chessRow {
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-direction: row;
}

.chessColumn {
    width: 100%;
    height: 100%;
}

.chessRow > .chessColumn > img {
    width: 100%;
    height: 100%;
}

.chess {
    display: flex;
    flex-direction: row;
}

.player1 {
    margin: auto;
    width: 13vw;
    height: 13vw;
    background-color: #6F3B48;
    box-shadow: 3px 3px 3px 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.player2 {
    margin: auto;
    width: 13vw;
    height: 13vw;
    background-color: #E5CCC8;
    box-shadow: 3px 3px 3px 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.player1 > h2, .player1 > h3, .player1 > h4 {
    color: whitesmoke;
    text-align: center;
}

.player2 > h2, .player2 > h3, .player2 > h4 {
    color: black;
    text-align: center;
}

.gameResult {
    margin: auto;
    width: 25vw;
    height: 25vw;
    background-color: #6F3B48;
    box-shadow: 3px 3px 3px 3px gray;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

.gameResult > h2, .gameResult > h3 {
    color: #F3E4DF;
    text-align: center;
}

.gameResult > button {
    font-size: 15px;
    background-color: #F3E4DF;
    color: #6F3B48;
    margin-left: 25%;
    width: 50%;
    height: 10%;
    border-radius: 50px;
}

.gameResult > button:hover {
    cursor: pointer;
}

.makeRoomBtn {
    width: 12vw;
    height: 12vw;
    background-color: #522632;
    margin-top: 5vw;
    margin-left: 30vw;
    margin-right: 8vw;
    box-shadow: 3px 3px 3px 3px gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.makeRoomBtn > h3 {
    color: #F3E4DF;
    text-align: center;
}

.makeRoomBtn:hover {
    cursor: pointer;
    background-color: #6F3B48;
}

.joinRoomBtn {
    width: 12vw;
    height: 12vw;
    background-color: #522632;
    margin-top: 5vw;
    margin-left: 8vw;
    box-shadow: 3px 3px 3px 3px gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.joinRoomBtn:hover {
    cursor: pointer;
    background-color: #6F3B48;
}

.joinRoomBtn > h3 {
    color: #F3E4DF;
    text-align: center;
}

.user {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.signupBtn, .loginBtn {
    margin-top: 15vh;
    width: 10vw;
    height: 7vh;
    color: #522632;
    background-color: #F3E4DF;
    font-size: large;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px gray;
}

.signupBtn {
    margin-left: 1vw;
}

.loginBtn {
    margin-right: 1vw;
}

.signupBtn:hover, .loginBtn:hover {
    cursor: pointer;
    background-color: #E5CCC8;
}

.loginForm, .signupForm {
    z-index: 1;
    position: fixed;
    width: 20vw;
    height: 30vh;
    top: 30vh;
    left: 40vw;
    background-color: #E5CCC8;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px gray;
}

.loginForm > h2 , .signupForm > h2 {
    margin-bottom: 2vh;
}

.buttons {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.loginForm > .buttons > button, .signupForm > .buttons > button {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px gray;
    margin: 0.5vw;
}

.loginForm > .buttons > button:hover, .signupForm > .buttons > button:hover {
    cursor: pointer;
    background-color:bisque;
}

.loginForm > input, .signupForm > input {
    height: 20px;
}