@import "global.css";

td img {
    max-height: 100%;
}

#chess-board td {
    max-width: 50px;
    width: 50px;
    max-height: 50px;
    height: 50px;
    text-align: center;
}

#chess-board td.clicked {
    background-color: #FCE77D !important;
}

#team-score {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}

th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.sub-container {
  margin: 5px;
}

.current-team {
  
  border-radius: 10px;
  padding: 7px;

  font-size: 20px;
} 

.current-team.white {
    background-color: white;
    border: 1px solid white;
    color: black;
}

.current-team.black {
  background-color: black;
  border: 1px solid black;
  color: white;
}