.room {
    height: 3.5vw;
    border: 5px solid dimgrey;
    border-radius: 10px;
}

.roomName {
    float: left;
    margin-top: 0.2vw;
    width: 100%;
}

.white-username {
    float: left;
    margin-top: 0.2vw;
    margin-left: 1.5vw;
    width: 12.5vw;
}

.black-username {
    float: left;
    margin-top: 0.2vw;
    border-left: 2px solid;
    width: 3.5vw;
}

#list-container {
    font-size: 1.6vw;
}

#roomInfo-blackname {
    border-left: 1px solid black;
}

#gameList-container {
    margin-left: 5vw;
    border: 5px solid dimgray;
    border-radius: 10px;
    border-top: none;
}

#gameList {
    overflow-y: auto !important;
    overflow-x: hidden;
    height: 100%;
    max-height: 23vw;
}

#gameList ol {
    margin: 0.3vw;
    padding: 0;
}

#gameList ol li {
    display: block;
    cursor: pointer;
}

#gameList ol dl {
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid;
    height: 2.4vw;
}

#gameList ol dl dt {
    width: 100%;
    margin-top: 0.2vw;
    display: block;
    float: left;
}

#gameList ol dl dd {
    width: 85%;
    float: left;
    display: contents;
    position: absolute;
}

#gameList .roomInfo-username {
    float: left;
    width: 49%;
    margin-top: 0.2vw;
}

.onGame {
    border: 0.5vw solid #2ac0bb;
}

