.chess-board {
    text-align: center;
}

#roomId {
    display: none;
}

.chess-board-cell {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    position: absolute;
    left: 548px;
    top: 57px;
}

.clicked {
    background-color: beige;
}

.chess-board-image {
    position: absolute;
    top: 33px;
    left: 523px;
}

.chess-piece {
    width: 70px;
    margin-top: 6px;
    margin-left: -3px;
}

.chess-game-move-button {
    position: absolute;
    top: 747px;
    left: 523px;
}

.chess-game-start-button {
    position: absolute;
    top: 765px;
    left: 521px;
}

.chess-game-black-score-button {
    position: absolute;
    top: 803px;
    left: 521px;
}

.chess-game-white-score-button {
    position: absolute;
    top: 802px;
    left: 699px;
}

.chess-game-exit-button {
    position: absolute;
    top: 747px;
    left: 1127px;
}

.chess-game-select-gameId-button {
    position: absolute;
    top: 730px;
    left: 520px;
}
