<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상태</title>
    <script type="text/javascript" src="/src/index.js"></script>
</head>
<body>
<div align="left">
    <button type="button" onclick=movePage('/board')> 뒤로가기</button>
</div>
<div align="center">
    {{#status}}
        <p> 백색 점수: {{status.white}}</p>
        <p> 흑색 점수: {{status.black}}</p>
    {{/status}}
</div>

</body>
</html>