<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스-라유</title>
    <link href="./css/index.css" rel="stylesheet">
</head>
<main>
    이용 가능한 방 번호는 아래에 있습니다<br>
    <form action="/new_game" method="post">
        <input class="menuButton" name="command" type="submit" value="새 게임">
    </form>
    <form action="/load_game" method="get">
        <input name="room_number" type="text">
        <input class="menuButton" name="command" type="submit" value="불러오기">
    </form>
    <br><br>

    {{#rooms}}
        <div class="room_number_index">
            <form action="/load_game" method="get">
                room number: {{roomNumber}}
                <input class="menuButton" name="command" type="submit" value="불러오기">
                <input class="invisible" value="{{roomNumber}}" type="text">
            </form>
        </div>
    {{/rooms}}

</main>
</body>
</html>