<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
    <link href="./../css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    <div class="additional">
        <span class="reload">새로시작</span>
        <div class="status left">
            <p class="teamName">WHITE 팀</p>
            <p class="score"></p>
        </div>
    </div>
    <div class="chessboard">
        <h1 class="title">체스 게임</h1>
        <div class="row">
            <button class="black cell" id="a8"></button>
            <button class="cell" id="b8"></button>
            <button class="black cell" id="c8"></button>
            <button class="cell" id="d8"></button>
            <button class="black cell" id="e8"></button>
            <button class="cell" id="f8"></button>
            <button class="black cell" id="g8"></button>
            <button class="cell" id="h8"></button>
        </div>
        <div class="row">
            <button class="cell" id="a7"></button>
            <button class="black cell" id="b7"></button>
            <button class="cell" id="c7"></button>
            <button class="black cell" id="d7"></button>
            <button class="cell" id="e7"></button>
            <button class="black cell" id="f7"></button>
            <button class="cell" id="g7"></button>
            <button class="black cell" id="h7"></button>
        </div>
        <div class="row">
            <button class="black cell" id="a6"></button>
            <button class="cell" id="b6"></button>
            <button class="black cell" id="c6"></button>
            <button class="cell" id="d6"></button>
            <button class="black cell" id="e6"></button>
            <button class="cell" id="f6"></button>
            <button class="black cell" id="g6"></button>
            <button class="cell" id="h6"></button>
        </div>
        <div class="row">
            <button class="cell" id="a5"></button>
            <button class="black cell" id="b5"></button>
            <button class="cell" id="c5"></button>
            <button class="black cell" id="d5"></button>
            <button class="cell" id="e5"></button>
            <button class="black cell" id="f5"></button>
            <button class="cell" id="g5"></button>
            <button class="black cell" id="h5"></button>
        </div>
        <div class="row">
            <button class="black cell" id="a4"></button>
            <button class="cell" id="b4"></button>
            <button class="black cell" id="c4"></button>
            <button class="cell" id="d4"></button>
            <button class="black cell" id="e4"></button>
            <button class="cell" id="f4"></button>
            <button class="black cell" id="g4"></button>
            <button class="cell" id="h4"></button>
        </div>
        <div class="row">
            <button class="cell" id="a3"></button>
            <button class="black cell" id="b3"></button>
            <button class="cell" id="c3"></button>
            <button class="black cell" id="d3"></button>
            <button class="cell" id="e3"></button>
            <button class="black cell" id="f3"></button>
            <button class="cell" id="g3"></button>
            <button class="black cell" id="h3"></button>
        </div>
        <div class="row">
            <button class="black cell" id="a2"></button>
            <button class="cell" id="b2"></button>
            <button class="black cell" id="c2"></button>
            <button class="cell" id="d2"></button>
            <button class="black cell" id="e2"></button>
            <button class="cell" id="f2"></button>
            <button class="black cell" id="g2"></button>
            <button class="cell" id="h2"></button>
        </div>
        <div class="row">
            <button class="cell" id="a1"></button>
            <button class="black cell" id="b1"></button>
            <button class="cell" id="c1"></button>
            <button class="black cell" id="d1"></button>
            <button class="cell" id="e1"></button>
            <button class="black cell" id="f1"></button>
            <button class="cell" id="g1"></button>
            <button class="black cell" id="h1"></button>
        </div>
    </div>
    <div class="additional">
        <span class="exit">나가기</span>
        <div class="status right">
            <p class="teamName">BLACK 팀</p>
            <p class="score"></p>
        </div>
    </div>
    <div class="result">
        <div class="message"></div>
        <div class="submit">새로 시작</div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="./../script.js"></script>
</body>
</html>