<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>체스 게임</title>
  <link href="/css/index.css" rel="stylesheet">
</head>

<body>
<h2><text id="roomId">{{roomId}}</text>번방</h2>
<div class="chess-board">
  <img class="chess-board-image" src="/images/chess_board.jpg">
  <div class="chess-board-cell">
      <div id="a8" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="b8" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="c8" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="d8" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="e8" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="f8" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="g8" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="h8" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>

      <div id="a7" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="b7" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="c7" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="d7" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="e7" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="f7" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="g7" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="h7" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>

      <div id="a6" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="b6" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="c6" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="d6" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="e6" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="f6" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="g6" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="h6" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>

      <div id="a5" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="b5" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="c5" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="d5" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="e5" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="f5" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="g5" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="h5" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>

      <div id="a4" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="b4" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="c4" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="d4" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="e4" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="f4" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="g4" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="h4" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>

      <div id="a3" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="b3" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="c3" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="d3" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="e3" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="f3" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="g3" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="h3" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>

      <div id="a2" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="b2" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="c2" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="d2" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="e2" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="f2" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="g2" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="h2" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>

      <div id="a1" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="b1" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="c1" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="d1" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="e1" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="f1" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="g1" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
      <div id="h1" class="board-cell" onclick=chessPage.onClickCell(this.id)></div>
  </div>

  <div class="chess-game-black-score-button">
    <input type="submit" value="검은팀 게임 스코‍어 확인 🎯️">
  </div>

  <div class="chess-game-white-score-button">
      <input type="submit" value="흰팀 게임 스코‍어 확인 🎯️">
  </div>

  <div class="chess-game-exit-button">
    <input type="submit" value="게임 종료 ❌‍️">
  </div>

  <div class="chess-game-move-button">
    출발 좌표 <input class="source" name="source" type="text">
    도착 좌표 <input class="target" name="target" type="text">
    <button class="move-button">이동 ⭐‍</button>
  </div>

</div>

</body>
<script src="/js/chess.js"></script>
</html>