<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./css/chessStyle.css" rel="stylesheet" type="text/css"/>
    <title>엘리의 크리스마스 체스</title>
</head>
<body>
{{#if haveLastGameRecord}}
    <button onclick="playLastGame()">기존 게임 시작하기</button>
{{/if}}
    <input type = "text" id="roomName">
    <input type = "submit" value="방 이름을 입력하신후 여기를 클릭해주세요" onclick="playNewGame()">
</body>
<script>
    const playLastGame = function () {
        window.location = "http://localhost:8080/playing/lastGame";
    };

    const playNewGame = function () {
        window.location = 'http://localhost:8080/playing/newGame'
                + "?roomName=" + document.getElementById("roomName").value;
    }
</script>
<body>

</body>
</html>