<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <style>
        .chess-board {
            border-spacing: 0;
            border-collapse: collapse;
        }

        .chess-board th {
            padding: .5em;
        }

        .chess-board th + th {
            border-bottom: 1px solid #000;
        }

        .chess-board th:first-child,
        .chess-board td:last-child {
            border-right: 1px solid #000;
        }

        .chess-board tr:last-child td {
            border-bottom: 1px solid;
        }

        .chess-board th:empty {
            border: none;
        }

        .chess-board td {
            width: 1.5em;
            height: 1.5em;
            text-align: center;
            font-size: 32px;
            line-height: 0;
        }

        .chess-board .light {
            background: #eee;
        }

        .chess-board .dark {
            background: #aaa;
        }
    </style>
</head>
<body>
<table class="chess-board">
    <tbody>
    <tr>
        <th></th>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th>f</th>
        <th>g</th>
        <th>h</th>
    </tr>
    <tr>
        <th>8</th>
        <td class="light" id="a8"></td>
        <td class="dark" id="b8"></td>
        <td class="light" id="c8"></td>
        <td class="dark" id="d8"></td>
        <td class="light" id="e8"></td>
        <td class="dark" id="f8"></td>
        <td class="light" id="g8"></td>
        <td class="dark" id="h8"></td>
    </tr>
    <tr>
        <th>7</th>
        <td class="dark" id="a7"></td>
        <td class="light" id="b7"></td>
        <td class="dark" id="c7"></td>
        <td class="light" id="d7"></td>
        <td class="dark" id="e7"></td>
        <td class="light" id="f7"></td>
        <td class="dark" id="g7"></td>
        <td class="light" id="h7"></td>
    </tr>
    <tr>
        <th>6</th>
        <td class="light" id="a6"></td>
        <td class="dark" id="b6"></td>
        <td class="light" id="c6"></td>
        <td class="dark" id="d6"></td>
        <td class="light" id="e6"></td>
        <td class="dark" id="f6"></td>
        <td class="light" id="g6"></td>
        <td class="dark" id="h6"></td>
    </tr>
    <tr>
        <th>5</th>
        <td class="dark" id="a5"></td>
        <td class="light" id="b5"></td>
        <td class="dark" id="c5"></td>
        <td class="light" id="d5"></td>
        <td class="dark" id="e5"></td>
        <td class="light" id="f5"></td>
        <td class="dark" id="g5"></td>
        <td class="light" id="h5"></td>
    </tr>
    <tr>
        <th>4</th>
        <td class="light" id="a4"></td>
        <td class="dark" id="b4"></td>
        <td class="light" id="c4"></td>
        <td class="dark" id="d4"></td>
        <td class="light" id="e4"></td>
        <td class="dark" id="f4"></td>
        <td class="light" id="g4"></td>
        <td class="dark" id="h4"></td>
    </tr>
    <tr>
        <th>3</th>
        <td class="dark" id="a3"></td>
        <td class="light" id="b3"></td>
        <td class="dark" id="c3"></td>
        <td class="light" id="d3"></td>
        <td class="dark" id="e3"></td>
        <td class="light" id="f3"></td>
        <td class="dark" id="g3"></td>
        <td class="light" id="h3"></td>
    </tr>
    <tr>
        <th>2</th>
        <td class="light" id="a2"></td>
        <td class="dark" id="b2"></td>
        <td class="light" id="c2"></td>
        <td class="dark" id="d2"></td>
        <td class="light" id="e2"></td>
        <td class="dark" id="f2"></td>
        <td class="light" id="g2"></td>
        <td class="dark" id="h2"></td>
    </tr>
    <tr>
        <th>1</th>
        <td class="dark" id="a1"></td>
        <td class="light" id="b1"></td>
        <td class="dark" id="c1"></td>
        <td class="light" id="d1"></td>
        <td class="dark" id="e1"></td>
        <td class="light" id="f1"></td>
        <td class="dark" id="g1"></td>
        <td class="light" id="h1"></td>
    </tr>
    </tbody>
</table>

<h2>점수 판</h2>
BlackScore
<div id="blackScore"></div>
WhiteScore
<div id="whiteScore"></div>

차례
<div id="turn"></div>

<form action="/games/{{game.id}}/move" method="post">
    <label for="from">From: </label>
    <input type="text" name="from" id="from">
    <label for="to">To: </label>
    <input type="text" name="to" id="to"><input type="submit" value="이동">
</form>

<button id="home">HOME</button>

</body>
<script src="/script/chessboard.js"></script>
</html>