<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/chess.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>우아체스 - 게임</title>
</head>
<body>
<div class="header_box">
    <div class="title_box">
        <a href="/chess/home"><strong class="title_text">우아체스</strong></a>
        <img src="/images/logo.png" alt="우아한형제들 로고" id="logo">
    </div>
</div>
<div class="content_box">
    {{{ table }}}
    <form method="post" id="command_form">
        <label for="command">명령: </label>
        <input type="text" name="command" id="command">
        <button type="submit" form="command_form">입력</button>
    </form>
    <p>
        {{{ announcement }}}
    </p>
</div>
</body>
</html>