<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-5">
    <title>체스 게임</title>
    <style>
        table.chessboard {
            margin: 2rem auto 2rem auto;
            border: 30px solid #333;
            background-color: #777;
            border-collapse: collapse;
        }

        td.chessboard {
            display: inline-block;
            width: 50px;
            height: 50px;
            border: 2px solid #333;
        }

        tr.chessboard:nth-child(odd) td.chessboard:nth-child(even),
        tr.chessboard:nth-child(even) td.chessboard:nth-child(odd) {
            background: rgb(235, 235, 235);
        }

        img.chessboard {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

{{#em}}
    <body onload="alertError('{{em}}');">
{{/em}}
{{^em}}
    <body>
{{/em}}

{{#user}}
    <form action="/games" method="get">
        <button> 게임방 목록 보기</button>
    </form>
    <div>
        <div>
            <a> 게임번호 - {{gameId}}</a>
        </div>
        <div>
            <a> 현재 턴 - {{turn}}</a>
        </div>
        <div>
            {{#winner}}
                <a> 우승 - {{winner}}</a>
            {{/winner}}
        </div>
    </div>
{{/user}}
{{^user}}
    <form action="/home" method="get">
        <button> 로그인</button>
    </form>
{{/user}}
<br/>
<form action="/move/{{gameId}}" method="post">
    <div>
        <a> move "움직이려는 말의 좌표" "도착지 좌표"</a>
    </div>
    <div>
        <a>ex) move a2 a4</a>
    </div>
    <input hidden name="gameId" type="text" value={{gameId}}/>
    <input name="command" type="text"/>
    <button>이동</button>
</form>

<table class="chessboard">
    <tr class="chessboard">
        <td class="chessboard" id="a8">{{#a8}}<img class="chessboard" src="/images/{{a8}}.png" alt="">{{/a8}}</td>
        <td class="chessboard" id="a8">{{#b8}}<img class="chessboard" src="/images/{{b8}}.png" alt="">{{/b8}}</td>
        <td class="chessboard" id="a8">{{#c8}}<img class="chessboard" src="/images/{{c8}}.png" alt="">{{/c8}}</td>
        <td class="chessboard" id="a8">{{#d8}}<img class="chessboard" src="/images/{{d8}}.png" alt="">{{/d8}}</td>
        <td class="chessboard" id="a8">{{#e8}}<img class="chessboard" src="/images/{{e8}}.png" alt="">{{/e8}}</td>
        <td class="chessboard" id="a8">{{#f8}}<img class="chessboard" src="/images/{{f8}}.png" alt="">{{/f8}}</td>
        <td class="chessboard" id="a8">{{#g8}}<img class="chessboard" src="/images/{{g8}}.png" alt="">{{/g8}}</td>
        <td class="chessboard" id="a8">{{#h8}}<img class="chessboard" src="/images/{{h8}}.png" alt="">{{/h8}}</td>
    </tr>
    <tr class="chessboard">
        <td class="chessboard" id="a7">{{#a7}}<img class="chessboard" src="/images/{{a7}}.png" alt="">{{/a7}}</td>
        <td class="chessboard" id="a7">{{#b7}}<img class="chessboard" src="/images/{{b7}}.png" alt="">{{/b7}}</td>
        <td class="chessboard" id="a7">{{#c7}}<img class="chessboard" src="/images/{{c7}}.png" alt="">{{/c7}}</td>
        <td class="chessboard" id="a7">{{#d7}}<img class="chessboard" src="/images/{{d7}}.png" alt="">{{/d7}}</td>
        <td class="chessboard" id="a7">{{#e7}}<img class="chessboard" src="/images/{{e7}}.png" alt="">{{/e7}}</td>
        <td class="chessboard" id="a7">{{#f7}}<img class="chessboard" src="/images/{{f7}}.png" alt="">{{/f7}}</td>
        <td class="chessboard" id="a7">{{#g7}}<img class="chessboard" src="/images/{{g7}}.png" alt="">{{/g7}}</td>
        <td class="chessboard" id="a7">{{#h7}}<img class="chessboard" src="/images/{{h7}}.png" alt="">{{/h7}}</td>
    </tr>
    <tr class="chessboard">
        <td class="chessboard" id="a6">{{#a6}}<img class="chessboard" src="/images/{{a6}}.png" alt="">{{/a6}}</td>
        <td class="chessboard" id="a6">{{#b6}}<img class="chessboard" src="/images/{{b6}}.png" alt="">{{/b6}}</td>
        <td class="chessboard" id="a6">{{#c6}}<img class="chessboard" src="/images/{{c6}}.png" alt="">{{/c6}}</td>
        <td class="chessboard" id="a6">{{#d6}}<img class="chessboard" src="/images/{{d6}}.png" alt="">{{/d6}}</td>
        <td class="chessboard" id="a6">{{#e6}}<img class="chessboard" src="/images/{{e6}}.png" alt="">{{/e6}}</td>
        <td class="chessboard" id="a6">{{#f6}}<img class="chessboard" src="/images/{{f6}}.png" alt="">{{/f6}}</td>
        <td class="chessboard" id="a6">{{#g6}}<img class="chessboard" src="/images/{{g6}}.png" alt="">{{/g6}}</td>
        <td class="chessboard" id="a6">{{#h6}}<img class="chessboard" src="/images/{{h6}}.png" alt="">{{/h6}}</td>
    </tr>
    <tr class="chessboard">
        <td class="chessboard" id="a5">{{#a5}}<img class="chessboard" src="/images/{{a5}}.png" alt="">{{/a5}}</td>
        <td class="chessboard" id="a5">{{#b5}}<img class="chessboard" src="/images/{{b5}}.png" alt="">{{/b5}}</td>
        <td class="chessboard" id="a5">{{#c5}}<img class="chessboard" src="/images/{{c5}}.png" alt="">{{/c5}}</td>
        <td class="chessboard" id="a5">{{#d5}}<img class="chessboard" src="/images/{{d5}}.png" alt="">{{/d5}}</td>
        <td class="chessboard" id="a5">{{#e5}}<img class="chessboard" src="/images/{{e5}}.png" alt="">{{/e5}}</td>
        <td class="chessboard" id="a5">{{#f5}}<img class="chessboard" src="/images/{{f5}}.png" alt="">{{/f5}}</td>
        <td class="chessboard" id="a5">{{#g5}}<img class="chessboard" src="/images/{{g5}}.png" alt="">{{/g5}}</td>
        <td class="chessboard" id="a5">{{#h5}}<img class="chessboard" src="/images/{{h5}}.png" alt="">{{/h5}}</td>
    </tr>
    <tr class="chessboard">
        <td class="chessboard" id="a4">{{#a4}}<img class="chessboard" src="/images/{{a4}}.png" alt="">{{/a4}}</td>
        <td class="chessboard" id="a4">{{#b4}}<img class="chessboard" src="/images/{{b4}}.png" alt="">{{/b4}}</td>
        <td class="chessboard" id="a4">{{#c4}}<img class="chessboard" src="/images/{{c4}}.png" alt="">{{/c4}}</td>
        <td class="chessboard" id="a4">{{#d4}}<img class="chessboard" src="/images/{{d4}}.png" alt="">{{/d4}}</td>
        <td class="chessboard" id="a4">{{#e4}}<img class="chessboard" src="/images/{{e4}}.png" alt="">{{/e4}}</td>
        <td class="chessboard" id="a4">{{#f4}}<img class="chessboard" src="/images/{{f4}}.png" alt="">{{/f4}}</td>
        <td class="chessboard" id="a4">{{#g4}}<img class="chessboard" src="/images/{{g4}}.png" alt="">{{/g4}}</td>
        <td class="chessboard" id="a4">{{#h4}}<img class="chessboard" src="/images/{{h4}}.png" alt="">{{/h4}}</td>
    </tr>
    <tr class="chessboard">
        <td class="chessboard" id="a3">{{#a3}}<img class="chessboard" src="/images/{{a3}}.png" alt="">{{/a3}}</td>
        <td class="chessboard" id="a3">{{#b3}}<img class="chessboard" src="/images/{{b3}}.png" alt="">{{/b3}}</td>
        <td class="chessboard" id="a3">{{#c3}}<img class="chessboard" src="/images/{{c3}}.png" alt="">{{/c3}}</td>
        <td class="chessboard" id="a3">{{#d3}}<img class="chessboard" src="/images/{{d3}}.png" alt="">{{/d3}}</td>
        <td class="chessboard" id="a3">{{#e3}}<img class="chessboard" src="/images/{{e3}}.png" alt="">{{/e3}}</td>
        <td class="chessboard" id="a3">{{#f3}}<img class="chessboard" src="/images/{{f3}}.png" alt="">{{/f3}}</td>
        <td class="chessboard" id="a3">{{#g3}}<img class="chessboard" src="/images/{{g3}}.png" alt="">{{/g3}}</td>
        <td class="chessboard" id="a3">{{#h3}}<img class="chessboard" src="/images/{{h3}}.png" alt="">{{/h3}}</td>
    </tr>
    <tr class="chessboard">
        <td class="chessboard" id="a2">{{#a2}}<img class="chessboard" src="/images/{{a2}}.png" alt="">{{/a2}}</td>
        <td class="chessboard" id="a2">{{#b2}}<img class="chessboard" src="/images/{{b2}}.png" alt="">{{/b2}}</td>
        <td class="chessboard" id="a2">{{#c2}}<img class="chessboard" src="/images/{{c2}}.png" alt="">{{/c2}}</td>
        <td class="chessboard" id="a2">{{#d2}}<img class="chessboard" src="/images/{{d2}}.png" alt="">{{/d2}}</td>
        <td class="chessboard" id="a2">{{#e2}}<img class="chessboard" src="/images/{{e2}}.png" alt="">{{/e2}}</td>
        <td class="chessboard" id="a2">{{#f2}}<img class="chessboard" src="/images/{{f2}}.png" alt="">{{/f2}}</td>
        <td class="chessboard" id="a2">{{#g2}}<img class="chessboard" src="/images/{{g2}}.png" alt="">{{/g2}}</td>
        <td class="chessboard" id="a2">{{#h2}}<img class="chessboard" src="/images/{{h2}}.png" alt="">{{/h2}}</td>
    </tr>
    <tr class="chessboard">
        <td class="chessboard" id="a1">{{#a1}}<img class="chessboard" src="/images/{{a1}}.png" alt="">{{/a1}}</td>
        <td class="chessboard" id="a1">{{#b1}}<img class="chessboard" src="/images/{{b1}}.png" alt="">{{/b1}}</td>
        <td class="chessboard" id="a1">{{#c1}}<img class="chessboard" src="/images/{{c1}}.png" alt="">{{/c1}}</td>
        <td class="chessboard" id="a1">{{#d1}}<img class="chessboard" src="/images/{{d1}}.png" alt="">{{/d1}}</td>
        <td class="chessboard" id="a1">{{#e1}}<img class="chessboard" src="/images/{{e1}}.png" alt="">{{/e1}}</td>
        <td class="chessboard" id="a1">{{#f1}}<img class="chessboard" src="/images/{{f1}}.png" alt="">{{/f1}}</td>
        <td class="chessboard" id="a1">{{#g1}}<img class="chessboard" src="/images/{{g1}}.png" alt="">{{/g1}}</td>
        <td class="chessboard" id="a1">{{#h1}}<img class="chessboard" src="/images/{{h1}}.png" alt="">{{/h1}}</td>
    </tr>
</table>
<script type="text/javascript">
    function alertError(name) {
        var message = decodeURIComponent(escape(window.atob(name)));
        alert(message);
    }
</script>
</body>
</html>

