<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
</head>

<body>
<center>
    <h1>♟ 웹 체스 게임 ♟</h1>
    <form action="/create" method="post">
        <input type="submit" value="체스방 만들기">
    </form>
    <form action="/list" method="get">
        <input type="submit" value="체스방 목록 조회하기">
    </form>
</center>
</body>
