<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chess Games</title>
</head>

<body>
<h3>체스방 생성하기</h3>
<form action="/create" method="post" class="create-game">
    <div>
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" required>
    </div><br>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required>
    </div><br>
    <div>
        <input type="submit" value="create">
    </div>
</form>
</body>
</html>
