<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 게임: 새 놀이 만들기</title>
</head>
<body>
<h1> 새로운 놀이 만들기 </h1>
<form action="/create" method="post">
    새방이름 <input type="text" name="name" />
    <br />
    비밀번호 <input type="text" name="password" />
    <br />
    <input type="submit" value="게임 시작">
</form>
</body>
</html>