<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
</head>

<body>
<center>
    <h1>♟ 삭제를 위해서 비밀번호를 입력하세요 ♟</h1>
    <form action="/delete/complete/{{id}}" method="post">
        비밀번호 : <input type="text" name="password">
        <input type="submit" value="확인">
    </form>
</center>
</body>
