<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
</head>
<body style="text-align: center">
<h2>{{error}}</h2>
<form action="/" method="get">
    <button>메인으로 돌아가기</button>
</form>
</body>
</html>