<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>:: 체스 게임 ::</title>

    <link href="/images/cool-lime.ico" rel="shortcut icon" type="image/x-icon"/>

    <style>
        @font-face {
            font-family: 'BMHANNAPro';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'BMHANNAAir';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body>

<h2>404 page not found error</h2>
{{error}}
<br>
<a href="/"><input id="backBtn" type="submit" value="돌아가기"></a>

</body>
</html>