<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error!!</title>
</head>
<body>
<div class="container" style="align-content: center">
    <h3> Error : {{msg}} </h3>
    <br>
    <a href="/main" style="font-size: 20px"> -> main </a>
</div>
</body>
</html>