<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/css/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/error.css"/>
</head>
<body>
<div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x1_5"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
</div>
<div class='c'>
    <div class='_404'>404</div>
    <hr>
    <div class='_1'>{{errorMessage}}</div>
    <div class='_2'>PAGE NOT FOUND</div>
    <a class='btn' href='/'>돌아가기</a>
</div>
{{>layout/footer}}
