<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
</head>

<body>
<center>
    <h1>♟ ERROR ♟</h1>
    {{error}}
    <br>
    <br>
    <button onclick="location.href='/list'">목록으로</button>
</center>
</body>
