<!DOCTYPE html>
<html lang="en">
<body>
<script type="text/javascript">
    var message = '{{error}}';
    var returnUrl = '/board';
    alert(message);
    document.location.href = returnUrl;
</script>
</body>
</html>