<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>에러 페이지</title>
</head>
<body>
<center>
    <h1 class="centered">에러가 발생했습니다.</h1>
    {{errorMessage}}
</center>
</body>
</html>
