<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>404 NOT FOUND</title>
    <link rel="stylesheet" href="/styles/home.css"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body>
    <img src="/images/404.png" alt="https://www.vecteezy.com/vector-art/3425071-error-404-with-the-cute-chess-board-mascot">
</body>
</html>
