<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>♟ LA KONG 's Chess Game ♟</title>
    <link href="/src/chess.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/src/home.js"></script>
</head>
<body>

</body>
</html>