<!DOCTYPE HTML>
<html>
<head>
    <title>리버 체스</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="/src/home.css">
</head>
<body>
    <div id="title">
        <h1>♟ 리버 체스</h1>
    </div>
        <div id= "newRoom">
            <input id="roomName", type="text", required="true", name="roomName", placeholder="생성할 방 이름을 입력하세요."></input>
            <input id="roomPassword", type="password", required="true", name="roomPassword", placeholder="생성할 방 비밀번호를 입력하세요."></input>
        </div>
        <div id="buttons">
            <button id="create">Create</button>
            <button id="search">Search</button>
        </div>
        <div id = "rooms">
            <ul id="roomList"></ul>
        </div>
    <section>
    </section>
<script src="/src/home.js"></script>
</body>
</html>
