<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 홈</title>
    <script type="text/javascript" src="/src/index.js"></script>
</head>
<body>
<div align="center">
    <form action="/make-board" method="post" name="form">
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="체스방의 이름을 입력하세요">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="체스방의 비밀번호를 입력하세요">
        </div>
        <input type="submit" value="방 만들기">
    </form>
</div>

<table>
    <thead>
    <th>ID</th>
    <th>이름</th>
    </thead>
    <tbody>
    {{#boards}}
        <tr onclick=chess({{id}})>
            <td>{{id}}</td>
            <td>{{name}}</td>
        </tr>
    {{/boards}}
    </tbody>
</table>
</body>
</html>
