<!DOCTYPE HTML>
<html>
<head>
    <title>리버 체스</title>
</head>
<body>
    <h1>♟ 체스 게임 목록</h1>
    <section>
        <ul id="roomList"><ul>
    </section>
    <section>
        <div id="roomMaker">ㅇㅇㅇㅇ</div>
    </section>
</body>
</html>
