<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link rel="stylesheet" href="/src/index.css">
    <script defer src="/src/home.js"></script>
</head>

<body>

<h1>♟️ 초간단 체스</h1>
<form method="post" action="/create">
    <input type="text" name="roomTitle" placeholder="방 이름을 입력해주세요.">
    <input type="text" name="password" placeholder="비밀번호를 입력해주세요.">
    <input type="submit" value="방 생성" class=""/>
</form>

<div>
</div>
</body>
</html>
