<!DOCTYPE HTML>
<html>
<head>
    <title>리버 체스</title>
</head>
<body>
    <h1>♟ 리버 체스</h1>
    <section>
        <div id="buttons">
            <button id="search">Search</button>
        </div>
        <ul id="roomList"><ul>
    </section>
    <section>
    </section>
<script src="/src/home.js"></script>
</body>
</html>
