<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>파잉의 체스게임</title>
    <script type="text/javascript" src="/src/index.js"></script>
</head>
<body>
<div class="chess-game">
    <h1>♗파잉의 체스 게임♗</h1>
</div>

<div>
    <h2>게임방 만들기</h2>
    <form action="/" method="post" >
        <input placeholder="방 제목" name="title" type="text" required>
        <input placeholder="방 비밀번호" name="password" type="text" required>
        <input type="submit" value="만들기">
    </form>
</div>

<div>
    <h2>게임방 목록</h2>
    {{#games}}
        <div>
            <a href="/game/{{id}}">{{title}}</a>

            <div onclick="deleteGame({{id}})">
                <button>삭제</button>
            </div>

        </div>
        <br/>
    {{/games}}
</div>

</body>
</html>
