<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="/style.css" rel="stylesheet"/>
    <title>스티치의 체스 게임</title>
</head>
<body>
<header>
    <h1>Chess Game</h1>
</header>
<article class="game__start">
    <form action="/game" method="POST">
        게임 찾기 :&nbsp;
        <select id="game__room__list" name="name">
            {{#games}}
                <option value="{{name}}">{{name}}{{#state}}&nbsp;(종료){{/state}}</option>
            {{/games}}
        </select>
        <input id="start__button" type="submit" value="게임 시작"/>
    </form>
    <form action="/game/new" method="POST">
        새로운 게임 :&nbsp;
        <input id="game__room__new" name="name" placeholder="게임방 이름" type="text"/>
        <input id="start__button" type="submit" value="게임 시작"/>
    </form>


</article>
</body>
</html>
