<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스게임 by BossDog & Orange</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Black+Han+Sans&family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>


<h1>chess game 인덱스 페이지</h1>
<div class="inner">
    {{#each rooms}}
        <div class="room-box">
            {{ title }}
            <button class="enter" id="{{id}}" onclick="enter(id)">입장하기</button>
        </div>
    {{/each}}
</div>

<form method="POST" action="/room">
    <input type="text" name="title" class="room-title" maxlength="100">
    <button type="submit" class="new">방 만들기</button>
</form>

</body>
<script>
    function enter(id){
        console.log(id);
        window.location = "/room/" + id;
    }
</script>