<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chess Game</title>
    <link rel="stylesheet" href="/src/index.css">
</head>

<body>
    <div id="app">
        <h1>♟️ 체스</h1>
        <div class="form start">
            <form action="/start" method="post">
                <label for="title">방 제목</label>
                <input type="text" name="title">
                <label for="password">비밀번호</label>
                <input type="password" name="password">
                <input type="submit" value="새로운 게임">
            </form>
        </div>
        <div class="room-list">
            <table id="room-table">
            </table>
        </div>
    </div>
</body>
<script type="text/javascript">
    function deleteRoom(id) {
        console.log('방 삭제 : ' + id);
        const passwordInput = window.prompt('방을 삭제하려면 비밀번호를 입력하세요');
        console.log('입력값: ' + passwordInput);
    }

    function loadGames() {
        fetch('./list')
            .then((response) => response.json())
            .then((games) => initializeRoomList(games));
    }

    function initializeRoomList(games) {
        const table = document.getElementById("room-table");
        games.forEach(game => table.appendChild(createGameTr(game)));
    }

    function createGameTr(game) {
        const tr = document.createElement('tr');
        tr.appendChild(createTitleTd(game));
        tr.appendChild(createDeleteTd(game));
        return tr;
    }

    function createTitleTd(game) {
        const td = document.createElement('td');
        const a = document.createElement('a');
        a.setAttribute('href', './load/' + game.no);
        a.innerHTML = game.title;
        td.appendChild(a);
        return td;
    }

    function createDeleteTd(game) {
        const td = document.createElement('td');
        const button = document.createElement('button');
        button.setAttribute('onclick', 'deleteRoom(' + game.no + ')');
        button.innerHTML = '삭제';
        td.appendChild(button);
        return td;
    }

    window.onload = function() {
        loadGames();
    }
</script>
</html>
