<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link rel="stylesheet" href="/src/Chess.css"/>
</head>
<body>
<h1 class="centered">체스 게임</h1>

<div id="room-list" class="room-list" style="color: white; border: 15px solid yellow;">
    <h1> 체스 방 리스트  </h1>
    <ul style="background-color: palegoldenrod; padding: initial; font-size: 20px">
        {{#list}}
            <li style="text-align: center; color: palegoldenrod">
                <a href="/room/{{id}}">{{title}}</a>
                <button class="delete-button" id="delete-button" onclick="" type="button">방 삭제</button>
            </li>
        {{/list}}
    </ul>
    <div class="button-group" style="text-align: center">
        <button class="create-button" id="create-button" onclick="location.href='/new'" type="button">방 생성</button>
    </div>
<script src="/src/App.js"></script>
</body>
</html>
