<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body style="text-align: center">

<h1 id="title"> Chess Game</h1>

<form action="/createGame" method="post">
    방 이름 : <input type="text" name="name">
    비밀번호 : <input type="password" name="password">
    <input type="submit" value="생성">
</form>

</body>

</html>