<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>체스 게임</title>
  <link rel="stylesheet" href="/src/index.css">
  <script src="/src/index.js"></script>
</head>

<body>
<div id="app">
    <h1>♟️체스</h1>
    <button class="newGame styled" type="button" onclick="start()">새게임</button>
    <button class="continueGame styled" type="button" onclick="play()">이어서 하기</button>

</div>
</body>

</html>