<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHESS GAME</title>
    <link rel="stylesheet" type="text/css" href="public/css/index.css">
</head>
<body>
<h1>체스게임</h1>
<div id="new">
    <button>게임 시작하기</button>
</div>

<div id="loading">
    <button><a href="/loading">게임 이어하기</a></button>
</div>
<script type="application/javascript" src="public/js/index.js"></script>
</body>
</html>