<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>체스게임 by BossDog & Orange</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Black+Han+Sans&family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>우아한 체스 게임</h1>
    </header>

    <section class="signup-section">
        <div class="signup">
            <form class="signup-form" method="POST" action="/user">
                <h3>회원 가입</h3>
                <label>이름 : </label><input type="text" name="name" class="input-name"/>
                <label>비밀번호 : </label><input type="text" name="password" class="input-password"/>
                <button type="submit">가입하기</button>
            </form>
        </div>
    </section>

</body>