<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body class="announce">
<br><br>
<h1>애쉬의 Chess Game</h1>
<br>

<h2> 새로운 체스게임 생성 </h2>
<form action="/save" method="post">
    <input name="gameName" type="text" placeholder="게임 이름을 입력해주세요" maxlength="20" size="20" class="from-control" aria-label="default input example"/>
    <input name="password" type="password" placeholder="비밀번호를 입력해주세요" maxlength="20" size="20" class="from-control" aria-label="default input example"/>
    <button type="submit" class="btn btn-secondary">방 생성</button>
</form>

<h1>현재 열린 방</h1>
    {{#rooms}}
    <div class="room-data">
        <form action="/game/{{chessGameId}}" class="room-form">
            <input type="submit" value="{{gameName}}" class="room">
        </form>
        <form action="/delete/{{chessGameId}}" method="post">
        	<input name="password" type="password" placeholder="비밀번호를 입력해주세요.">
            <input type="submit" value="방 삭제">
        </form>
    </div>
    {{/rooms}}
</body>