<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHESS GAME</title>
    <link rel="stylesheet" type="text/css" href="public/css/index.css">
</head>
<body>
<h1>체스게임</h1>
<div id="new">
    <button id="start-btn">게임 시작하기</button>
</div>

<div id="loading">
    <table id="loading-table">
        <thead>
        <tr>
            <th>
                게임 아이디
            </th>
            <th>
                게임 이름
            </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script type="application/javascript" src="public/js/index.js"></script>
</body>
</html>