<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>체스 방 입장</title>
</head>
<body>
<h2>체스 방 목록</h2>
<ul class="room-list">
</ul>
<br>
<h2>체스방 만들기</h2>

<div class="input-new-room">
  <input class="newRoomId" name="gameId" type="text">
  <button class="make-room-button">입장‍</button>
</div>
</body>
<script src="/js/index.js"></script>
</html>