<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>♟️ 체스 게임 </title>
    <link rel="stylesheet" href="/src/index.css">
</head>

<body>
<div class="horizontal-vertical-center text-center">
    <h1>♟️ 체스 게임</h1>
    <button type="button" class="w-btn-outline2 w-btn-gray-outline" id="createGame">새로운 게임 시작하기</button>
    <button type="button" class="w-btn-outline2 w-btn-gray-outline" id="resumeGame">게임 이어서하기</button>
</div>

<script src="src/index.js"></script>
</body>
</html>
