<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>우아한 체스게임</title>
    <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/css/favicon.ico" type="image/x-icon">
    <style type="text/css">
        body {
        background-color: linen;
        }

        .clickable {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <form id="form" action="room" method="post"></form>
    <ul id="rooms"> 방 목록
        {{#chessRooms}}
            <li class="clickable" id="{{roomId}}">{{roomId}}</li>
        {{/chessRooms}}
        {{^chessRooms}}
            <li>방이 없습니다! 새 게임을 눌러 방을 만들어주세요.</li>
        {{/chessRooms}}
    </ul>
    <button id="newRoom" type="button">새 체스방</button>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
