<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link href="/src/index.css" rel="stylesheet">
    <script> window.addEventListener('DOMContentLoaded', () => getGames());</script>
</head>
<body>
<div id="section">
    <section>
    <h1> ! 체스 게임 ! </h1>
    <h2> 체스 게임 입장하기 </h2>
    <button class="button" id="new-room-button" onclick="clickStartButton()"> 새로운 방 만들기</button>
        <h2> 존재하는 방 정보 </h2>
        <h4> 방 이름을 클릭하여 입장하세요</h4>
        <div id="existed-game-info">
        </div>
    </section>
</div>
<script src="/src/index.js"></script>
</body>
</html>