<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 게임: 시작</title>
</head>
<body>
<h1> 체스게임 </h1>
{{this.message}}

<form action="/room/create" method="get">
    <input type="submit" value="체스방 생성" />
</form>

{{#this.rooms}}
    <div>
        <form action="/room/{{this.id}}" method="get">
            {{this.name}}방 <input type="submit" value="참가" />
        </form>
        <form action="/room/{{this.id}}/delete" method="get">
            <input type="submit" value="체스방 삭제" />
        </form>
    </div>
{{/this.rooms}}

</body>
</html>
