<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>♟️ 체스 게임 </title>
    <link rel="stylesheet" href="/src/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<div class="horizontal-vertical-center">
    <h1>♟️ 체스 게임 </h1>
    <button type="button" class="w-btn-outline2 w-btn-gray-outline" id="gameList">게임 리스트 보기</button>
    <div id="game-list">
      <table id="chess-game-table">
        <thead>
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
    </div>
    <button type="button" class="w-btn-outline2 w-btn-gray-outline" id="newGame">새로운 게임 시작하기</button>
</div>
<script src="/src/index.js"></script>
</body>
</html>
