<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChessGame</title>
</head>
<body>
    <form action="/new-room" method="post">
        <input type="text" name="roomName" placeholder="방 제목을 입력해주세요."></input>
        <input class="menuButton" type="submit" value="방 만들기">
    </form>
    <p>방 리스트</p>
    {{#rooms}}
    <form name="myForm" action="/load-game" method="POST">
        <input type="hidden" name="roomName" value="{{roomName}}">{{roomName}} </input>
        <input type="submit" value="입장" />
    </form>
    {{/rooms}}
</body>
</html>