<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link rel="stylesheet" href="/src/index.css">
</head>
<body>
<div>
    <img src="/images/TITLE.png" class="img"/>
    <div>
        <p class="info">🕹 새 게임 만들기</p>
        <form action="/create-game-room" method="post">
            <input type="text" name="name" placeholder="name"/>
            <input type="text" name="password" placeholder="password"/>
            <input type="submit" value="생성">
        </form>
    </div>
    <div>
        <p class="info">📝 게임 목록</p>
        {{#gameRooms}}
        <form action="delete/{{gameRoomId}}" method="post">
            <a class="name" href="/game/{{gameRoomId}}">{{name}}</a>
            <input type="text" name="password" placeholder="password"/>
            <input type="submit" value="삭제">
        </form>
        <br/>
        {{/gameRooms}}
    </div>
</div>
</body>
</html>