<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>:: 체스 게임 방 목록 ::</title>

    <link href="images/cool-lime.ico" rel="shortcut icon" type="image/x-icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <style>
        @font-face {
            font-family: 'BMHANNAPro';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'BMHANNAAir';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>

    <link href="css/indexStyle.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<div id="title">
    :: 체 스 게 임 방 목 록 ::
</div>

<div style="width: 50%; margin: 30px auto; font-family: BMHANNAAir, sans-serif">
    <table style="width: 400px; margin: 0 auto">
        <tr>
            <th class="subTitle" style="padding: 10px; background-color: rgba(144,238,195,0.51); border-radius: 10px">방
                ID
            </th>
            <th class="subTitle" style="padding: 10px; background-color: rgba(144,238,195,0.51); border-radius: 10px">방
                제목
            </th>
        </tr>
        {{#rooms}}
            <tr>
                <td class="subTitle"
                    style="padding: 10px; border: 1px solid rgba(144,238,195,0.51); border-radius: 10px; font-size: 16px; text-align: center; color: black">
                    <a href="/chess/{{id}}">{{id}}</a>
                </td>
                <td td class="subTitle"
                    style="padding: 10px; border: 1px solid rgba(144,238,195,0.51); border-radius: 10px; font-size: 16px; text-align: center; color: black">
                    {{name}}
                </td>
            </tr>
        {{/rooms}}
    </table>
</div>

<div style="width: 50%; margin: 0 auto">
    <div style="margin: 0 auto; text-align: center; width: 50%">
        <form method="post" action="/new">
            <input type="text" class="moveForm" style="border: 1px solid rgba(75, 0, 130, 0.8)" name="name" required>
            <input type="submit" class="btn" value="방 만들기">
        </form>
    </div>
</div>

</body>
</html>