<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>모두의 체스</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
 <script type="text/javascript">
     $(document).ready(function () {
                      $("#game_id").keydown(function(key) {
                     if (key.keyCode == 13) {
                         goReadyPage();
                     }
                 });
             });

     function goReadyPage(){
        var game_id = document.getElementById("game_id").value;
        var form = document.getElementById("readyForm");
        form.setAttribute("action", "/ready/" + game_id);
        form.submit();
     }

     function goGameRoom() {
        var game_id = document.querySelector('#game_room').value;
        window.location.assign('/ready/' + game_id)
     }
</script>
<div class='game_room'> 체스방 목록 </div>
    {{#each roomNames}}
    <div class='game_room'>
        {{this}}
        <button id='game_room' value='{{this}}' onClick='goGameRoom()'>입장</button>
    </div>
    {{/each}}
</br>
<div class='create_room'>체스방 새로 만들기</div></br>
<form id="readyForm" action="/ready/" method="post">
    <input id="game_id" name="game_id" placeholder="게임을 저장하기 위한 이름을 입력해주세요." type="text"/>
    <input type="button" onClick ="goReadyPage()" value="입장"/>
</form>
</body>
</html>
