<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body class="announce">
<br><br>
<h1>디우의 Chess Game</h1>
<br>
<form action="/start" method="post">
    <input name="game_name" type="text" placeholder="게임 이름을 입력해주세요" required minlength="1" maxlength="20" size="20" class="from-control" aria-label="default input example"/>
    <input name="password" type="password" placeholder="비밀번호를 입력해주세요." required minlength="1" maxlength="20" size="20" class="from-control" aria-label="default input example"/>
    <button type="submit" class="btn btn-primary">새로운 게임</button>
</form>
<br>
<br>
{{#if error}}
    <h3>에러 메시지: {{error}}</h3>
{{/if}}
{{#each gameNames}}
    <div style="border: 1px solid #d4ffb5; box-shadow: inset 0 0 8px #84de3a; background-color: #deffb5; width:40%; display: flex; justify-content: center; margin: 0 auto">
        <form action="/load" method="get">
            <button type="submit" class="btn btn-success" name="game_name" value="{{this}}">{{this}}</button>
            <button type="button" class="btn btn-danger" onclick="deleteGame('{{this}}')">게임 삭제</button>
        </form>
    </div>
{{/each}}
<script src="/js/app.js"></script>
</body>