<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link rel="stylesheet" href="/src/index.css">
    <script src="/src/index.js"></script>
</head>

<body>
<div id="app">
    <h1>♟️체스</h1>

    <section class="error">
        <div>
            {{#hasError}}
            <h1>{{errorMessage}}</h1>
            {{/hasError}}
        </div>
    </section>

    <div>
        <div>
            체스방 제목을 입력히세요 <br>
            <input type="text" name="room_title" id="room-title"><br>
            체스방 비밀번호를 입력히세요 <br>
            <input type="password" name="room_password" id="room-password">
            <input type="submit" id="room-create-button" value="방 생성하기">
        </div>
        <br>
        <br>
        <div>
            <button type="button" id="room-list">체스방 목록 조회하기</button>
        </div>
        <br>
        <br>
        <div id = "room-list-container">

        </div>
    </div>
</div>
</body>

</html>
