<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>체스게임 by BossDog & Orange</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Black+Han+Sans&family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="index-title">체스 방 리스트</div>
    </header>
    <section class="rooms-section">
        <div class="inner">
            <div class="rooms-list">
                {{#each rooms}}
                    <div class="room-box">
                        <div class="room-title">
                            #{{id}}. {{ title }}
                        </div>
                        <button class="enter" id="{{id}}" onclick="enter(id)">입장</button>
                    </div>
                {{/each}}
            </div>
            <div class="create-button" onclick="create()">
                <p>방 만들기</p>
            </div>
        </div>
        <div class="create-form">
            <div class="inner" id="room-creator">
                <div class="relative-inner">
                    <form method="POST" action="/room" >
                        <label>방 제목 : </label><input type="text" name="title" class="room-title" maxlength="100">
                        <button class="room-button" type="submit" id="create-button">방 만들기</button>
                    </form>
                    <button class="room-button" id="revert-button" onclick="revert()">취소</button>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="creator">
            created by Bossdog & Orange
        </div>
    </footer>
    <script>
        function enter(id){
            window.location = "/room/" + id;
        }

        function create() {
            let form = document.getElementById('room-creator');
            if (form) {
                form.style.visibility = 'visible';
            }
        }

        function revert() {
            let form = document.getElementById('room-creator');
            if(form) {
                form.style.visibility = 'hidden';
            }
        }
    </script>
</body>
