<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body style="background: dimgray">
    <div class="mainContainer">
        <div>
            <input type="text" class="input" id="roomNameInput" placeholder="방 이름" autofocus maxlength="10"/>
            <input type="password" class="input" id="passwordInput" placeholder="비밀번호" />
        </div>
        <button class="ui-button" id="start" onclick="createRoom()">방 생성</button>
    </div>
    <div class="error" id="error"></div>
    <div class="room_list", id="room_list"></div>
    <div class="page_buttons">
        <button class="arrow", onclick="previousPage()">👈</button>
        <div class="current_page", id="current_page">1</div>
        <button class="arrow", onclick="nextPage()">👉</button>
    </div>
</div>
<script src="/js/index.js"></script>

</body>
</html>
