<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link href="/css/index.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
    <form class="make-game" action="/game"> <input class="button" type="submit" value="체스방 만들기"> </form>
    <form class="game-list" action="/game/list"> <input class="button" type="submit" value="체스방 목록 조회하기"> </form>
</body>
</html>
