<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/style.css">
    <title>야호의 체스 - 아직 시작 안했지롱!</title>
    <meta charset="UTF-8">
</head>
<body>
<div id="welcomeMessage">
    CLICK TO START! 😆
</div>
<form action="/newgame" method="get" class="inlineBtn-newgame">
    <input type="submit" value="NEW GAME" class="btn" id="create"/>
</form>
<div class="room-list-container">
    <span id="room-title">방 목록</span>
    <ul class="room-list">
        {{#rooms}}
            <li class="room">
                <a class="room-name" href="./ingame?gameCode={{gameCode}}">{{gameID}}</a>
                <a class="room-delete" href="./checkPW?gameCode={{gameCode}}">삭제</a>
            </li>
        {{/rooms}}
    </ul>
</div>
</body>
</html>
