<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>:: 체스 게임 방 목록 ::</title>

    <link href="images/cool-lime.ico" rel="shortcut icon" type="image/x-icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <style>
        @font-face {
            font-family: 'BMHANNAPro';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'BMHANNAAir';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>

    <link href="css/indexStyle.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<div id="title">
    :: 체 스 게 임 방 목 록 ::
</div>

<table>
    <tr>
        <th>방 ID</th>
        <th>방 제목</th>
    </tr>
    {{#rooms}}
        <tr>
            <td><a href="/chess/{{id}}">{{id}}</a></td>
            <td>{{name}}</td>
        </tr>
    {{/rooms}}
</table>

<form method="post" action="/new">
    <input type="text" name="name" required>
    <input type="submit" value="방 만들기">
</form>

</body>
</html>