<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="/css/room.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>

<h1>WOOWA CHESS</h1>
<div class="chess-game">
  <div class="rooms">
    {{#rooms}}
      <div class="room" id="{{id}}">
        <div class="room-name">{{name}}</div>
        <div class="room-delete">X</div>
      </div>
    {{/rooms}}
  </div>
  <div class="room-maker">NEW ROOM</div>
</div>
<script src="/js/index.js" type="module"></script>
</body>
</html>