<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/page.css" rel="stylesheet" type="text/css">
    <title>Chess Game : Main</title>
</head>
<body>
<h1>Room List</h1>
<br>
<ul id="room-list">
</ul>
<div id="pagination">

</div>
<br><br><br><br>
<h2>Register Room</h2>
<label>
    Name : <input id="room-name" type="text" value="">
    Password : <input id="room-admin-password" type="password" value="">
    <button id="submit-button">Submit</button>
</label>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/room.js" type="text/javascript"></script>
</html>
