<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHESS HOME</title>
</head>
<body>
<div>
    <div>
        <button id="add-game">새 게임 추가</button>
    </div>
    <ul id="game-room">

    </ul>
</div>
</body>
<script src="./js/index.js"></script>
</html>