<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>백엔드 체스</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="/js/index.js" type="module"></script>
</head>
<body>
<div>
    <h1 class="rainbow">백엔드 체스</h1>
    <div id="games"></div>
</div>
<div class="center">
    <button id="startBtn">Start</button>
</div>
<br/>
</body>
</html>