<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body style="background: dimgray">

<div class="mainContainer">
    <div>
        <input type="text" class="input" id="roomNameInput" placeholder="방 이름" autofocus maxlength="10"/>
    </div>
    <button class="ui-button" id="start" onclick="start()">입장</button>
</div>
<div class="error" id="error"></div>

</body>

<script>
    async function start() {
        roomName = document.getElementById("roomNameInput").value;
        if (/^\s*$/.test(roomName)) {
            const error = document.getElementById("error");
            error.innerText = "방 이름을 입력하세요!";

            document.getElementById("roomNameInput").value = "";
            return;
        }

        await fetch(`/rooms/${roomName}`, {method: "POST"});
        await fetch(`/rooms/${roomName}/pieces`, {method: "POST"});

        window.location.href = `/rooms/${roomName}`;
    }
</script>

</html>
