<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link rel="stylesheet" href="/src/button.css"/>
</head>
<body>
<center>
    <h1 class="centered">체스 게임</h1>

    <div class="button-group">
        <button class="w-btn w-btn-brown" id="create-room-button" type="button">방 만들기</button>
        <br>
    </div>
</center>
</body>
</html>
