<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chess Game</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="title">
    Chess Game
</div>
<form id="whitegame" action="white-game" method="post" onSubmit="return validWhiteSubmit();">
    <div class="roomName">
        <input type="text" name="roomName" id="room" placeholder="Room Name" autofocus>
        <input type="text" name="wPassword" id="wpw" placeholder="Password">
    </div>
    <div class="startButton">
        <input type="submit" id="start" value="start">
    </div>
</form>
<div class="rooms">
{{#names}}
    <form class="games" action="black-game" method="post" onSubmit="return validBlackSubmit(event);">
        <div>
            <input type="hidden" name="roomName" value={{name}}>
            <input type="text" name="bPassword" id="bpw" placeholder="Password">
            <input type="submit" id="existingRoom" value={{name}}>
            <br>
        </div>
    </form>
{{/names}}
</div>
<script src="index.js"></script>
</body>

</html>