<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body class="announce">
<br><br>
<h1>디우의 Chess Game</h1>
<br>
<form action="/start" method="get">
    <input name="game_name" type="text" placeholder="게임 이름을 입력해주세요" maxlength="20" size="20" class="from-control" aria-label="default input example"/>
    <input name="password" type="text" placeholder="비밀번호를 입력해주세요." maxlength="20" size="20" class="from-control" aria-label="default input example"/>
    <button type="submit" class="btn btn-secondary">게임 시작</button>
</form>
<br>
<br>
{{#each gameNames}}
    <div style="border: 1px solid #d4ffb5; box-shadow: inset 0 0 8px #84de3a; background-color: #deffb5; width:40%; display: flex; justify-content: center; margin: 0 auto">
        <form action="/start" method="get">
            <div style="font-weight: bold">{{this}}</div>
            <input name="password" type="text" placeholder="비밀번호를 입력해주세요." maxlength="20" size="20" class="from-control" aria-label="default input example"/>
            <button type="submit" class="btn btn-secondary">게임 시작</button>
        </form>
    </div>
{{/each}}
</body>