<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link rel="stylesheet" href="/src/index.css">
</head>
<body>
    <h1>체스게임</h1>
    <div id="app">
        <form method="post" action="/game">
            <input type="hidden" name="_method" value="PUT"/>
            <span>
                방 이름
                <input type="text" name="title">
            </span>
            <span>
                비밀번호
                <input type="text" name="password">
            </span>
            <input type="submit" value="방 만들기">
        </form>
        <br>
    </div>
    <div>
        {{#each game}}
            <ul>
                <li>
                    <a href="/game/{{this.id}}"> {{this.title}} </a>
                    <span> - {{this.state}}</span>
                    <form method="post" action="/game/{{this.id}}">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <input type="password" name="password">
                        <button type="submit">게임 삭제</button>
                    </form>
                </li>
             </ul>
             <br>
        {{/each}}
    </div>
</body>
</html>
