<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스방 생성</title>
</head>
<body>
<form action="/roomInformation" method="post">
    <label>방 이름</label><input type="text" name="name" /><br>
    <label>비밀번호</label><input type="text" name="password" /><br>
    <input type="submit" value="enter"/>
</form>
{{!--     <label id="room-name">방 이름 &nbsp;<input type="text"></label><br> --}}
{{!--     <label id="room-password">비밀번호 &nbsp;<input type="text"></label><br> --}}
{{!--     <button id="room-create">방 생성</button> --}}
</body>
