<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>♟️ 체스 게임 </title>
    <link rel="stylesheet" href="/src/index.css">
</head>

<body>
<div class="horizontal-vertical-center">
    <h1>♟️ 체스 게임 </h1>
    <input type="text" class="input-box" id="existRoomName" placeholder="방 이름을 입력해주세요">
    <input type="password" class="input-box" id="exist-room-password" placeholder="비밀번호를 입력해주세요">
    <input type="password" class="input-box" id="exist-room-password-check" placeholder="비밀번호를 입력해주세요">
    <button type="button" class="w-btn-outline2 w-btn-gray-outline" id="resumeGame">게임 이어서하기</button>
</div>
{{!-- <script src="src/game.js"></script> --}}
</body>
</html>
