<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
</head>
<body>
<h1>체스 게임을 시작합니다</h1>

<label for="gameName">게임 생성하기</label><input type="text" id="gameName">
<button id="create-btn">생성</button>

<h2>진행 게임 목록</h2>
<div id="gameList"></div>

</body>
<script src="/script/lobby.js"></script>
</html>