<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="/css/lobby.css" rel="stylesheet" type="text/css"/>
    <title>Play Chess!</title>
    <link rel="icon" href="/images/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>Play Chess!</h1>
<div class="container">
    <input id="roomName" placeholder="방제를 입력하세요."/>
    <button onclick="playNewGame()">새 게임 만들기</button>
    <div>
        <div class="gameList">참가자를 기다리는 방 목록 👀</div>
        <div id="roomList">
            {{#room}}
                <div id="room">
                    <p class="room-p" onclick="enterRoom({{id}})"> {{name}} {{full}} </p>
                </div>
            {{/room}}
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/lobby.js"></script>
</html>