<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ChessGame!</title>
    <link href="/src/game.css" rel="stylesheet"/>
</head>

<body>
<h1> ChessGame Lobby </h1>
<div class="button">
        <button name="create">
            게임 생성하기
        </button>
</div>

<div class="button">
        <button name="delete">
            게임 삭제하기
        </button>
</div>

<h2>게임 목록</h2>


</body>
