<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Chess</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/main.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="./js/main.js"></script>
</head>

<body background="./img/treeboard.png">
<div id="app">
    <div class="board">
        {{#rows}}
        <div class="row">
            {{#gamePieces}}
            <div id="{{position.name}}" class="cell">
                <img src="./img/{{playerColor.name}}_{{name}}.png">
            </div>
            {{/gamePieces}}
        </div>
        {{/rows}}
    </div>
    <div class="start">
        <form action="/start" method="post">
            <div class="users">
                <div class="room">
                    방 이름 : <input type="text" name="roomName">
                </div>
            </div>
            <input type="submit" value="START">
        </form>
    </div>

</div>
</body>

</html>
