<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 홈</title>
</head>
<body>
<form action="/chess/start">
    방 생성 : <input type="text" name="room">
    <input type="submit" value="입장하기">
</form>
<form action="/chess/enter">
    방 입장 : <input type="text" name="room">
    <input type="submit" value="입장하기">
</form>
<form>
    <input type="hidden" id="interact" value="{{value}}">
</form>
</body>
<script src="/js/home.js" type="text/javascript"></script>
</html>