<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alpha Chess</title>
    <link rel="stylesheet" href="/src/indexDesign.css">
</head>
<body>
<h2>Chess Game</h2>
<table>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
</table>
    <center> [ERROR] {{exception}} </center>
    <br />
    <center>
        <form action="newGame" method="get">
             <button type="submit"> 새로운 게임 생성 </button>
        </form>
        <form action="searchSave" method="get">
             <button type="submit"> 저장된 게임 조회 </button>
        </form>
    </center>
</body>
</html>