<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>♟️ 체스 게임 </title>
    <link rel="stylesheet" href="/src/index.css">
</head>
<body>
<div class="horizontal-vertical-center text-center">
    <h1>♟️ 방 생성하기</h1>

    <div align="right">방 이름
        <input type="text" class="input-box" id="newRoomName" placeholder="방 이름을 입력해주세요">
    </div>

    <div align="right">비밀번호
        <input type="text" class="input-box" id="password" placeholder="비밀번호를 입력해주세요.">
    </div>
    <div align="right">
        비밀번호 확인
        <input type="text" class="input-box" id="confirmPassword" placeholder="비밀번호를 재입력해주세요.">
    </div>
    <div align="right">
        <button type="button" class="w-btn-outline2 w-btn-gray-outline" id="createGame">방 생성하기</button>
    </div>
</div>
<script src="/src/newGame.js"></script>
</body>
</html>
