<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/style.css">
    <title>야호의 체스 - 아직 시작 안했지롱!</title>
    <meta charset="UTF-8">
</head>
<body>
<div id="welcomeMessage">
    CLICK TO START! 😆
</div>
<form action="/" method="get" class="inlineBtn">
    <input type="submit" value="HOME" class="btn" id="home"/>
</form>
<form action="/create" method="get" class="textBoxWrapper">
    <span class ="gameIDBOX">GAME ID : <input type="text" name="gameID"/></span>
    <span class ="gameIDBOX">GAME PW : <input type="text" name="gamePW"/></span>
    <input type="submit" value="START" class="btn" id="home">
</form>
</body>
</html>
