<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link rel="stylesheet" href="/src/button.css"/>
</head>
<body>
<center>
    <h1 class="centered">없는 체스 게임으로 접속했습니다!</h1>
    <button class="w-btn w-btn-brown" id="create-room-button" type="button" onClick="location.replace('/')">체스방 목록 확인
    </button>
</center>
<script src="/src/index.js"></script>
</body>
</html>
