<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
    <link rel="stylesheet" href="/css/notFound.css"/>
</head>
<body style="background: dimgray">
    <div class="main_container">
        <img src="https://http.cat/404"/>
        <div class="redirect_message">
            <a class="anchor" href="/">메인 페이지</a>
            로 이동
        </div>
    </div>
    <script src="/js/notFound.js"></script>
</body>
</html>