<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/style.css">
    <title>야호의 체스 - 아직 시작 안했지롱!</title>
    <meta charset="UTF-8">
</head>
<body>
<div id="welcomeMessage">
    {{msg}}
</div>
<form action="/games" method="post" class="textBoxWrapper">
    <input type="text" name="restart" class="invisible" value="false" />
    GAME ID : <input type="text" name="gameID" class="gameIDBox"/>
    <br>
    PASSWORD : <input type="text" name="password" class="gameIDBox"/>
    <input type="submit" value="START" class="btn" id="start">
</form>
<br>
<br>
{{#games}}
    <div class="textBoxWrapper">
        <form action="/games" method="post" class="inlineBtn">
            GAME ID: {{gameID}}
            <br>
            PASSWORD : <input type="text" name="password" class="gameIDBox"/>
            <input class="invisible" name="gameID" value="{{gameID}}" type="text">
            <input type="text" name="restart" class="invisible" value="false" />
            <input type="submit" value="START" class="btn" id="start">
        </form>
    </div>
    <div class="textBoxWrapper">
        <form action="/" method="post" class="inlineBtn">
            <input class="invisible" name="gameID" value="{{gameID}}" type="text">
            PASSWORD : <input type="text" name="password" class="gameIDBox"/>
            <input type="submit" value="DELETE" class="btn" id="delete">
        </form>
    </div>
    <br>
    <br>
{{/games}}
</body>
</html>
