<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>체스</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<h1>저장된 게임 목록</h1>
<div>
    <form id="room" action="/load" method="post">
        <ul id="rooms" class="rooms">
            {{#roomNames}}
                <li>
                    <div class="view">
                        <input type="submit" name="roomName" value="{{{.}}}"/>
                        <input type="button" class="destroy" value="삭제"/>
                    </div>
                </li>
            {{/roomNames}}
        </ul>
    </form>
</div>
</body>
<script src="/js/repository.js"></script>
</html>