<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess Game Result</title>
    <link rel="stylesheet" type="text/css" href="../public/css/result.css">
</head>
<body>
<div class="result">
    <p>{{winner}}팀 승리!</p>
</div>
<div class="result">
    <button><a href="/" id="go-main">처음으로</a></button>
</div>
</body>
</html>