<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>혼돈의 체스 게임 결과</title>
    <link rel="stylesheet" href="/files/src/game.css">
    <script type="text/javascript" src="/files/src/result.js"></script>
</head>

<body>
<div class="chess-game">
    <h1>♗혼돈의 체스 게임 결과♗</h1>
    {{#result}}
        <div>
            Black 진영 점수 VS White 진영 점수
            <div class="score">{{blackScore}}&nbsp;&nbsp;&nbsp;&nbsp;{{whiteScore}}</div>
        </div>
        <br>
        <div>
            승자는? {{winner}} 입니다.
        </div>
        <br>
        <div onclick="restartGame({{gameId}})">
            <button>게임 재시작</button>
        </div>
        <br>
        <form action="/" method="get">
            <input type="submit" value="홈으로 가기">
        </form>

    {{/result}}
</div>
</body>

</html>
