<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 미션</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/src/room.css">
</head>
<body>
<div class="main-container">
    <h1 class="name"></h1>
    <div class="info-container">
        <div class="turn-group" id="turn">
            <div class="turn-box" id="white_turn">
                <img id="white-turn-image" src="/images/king_white.png"/>
                <div id="whiteScore"></div>
                <div class="win_text" id="white_win">WIN!</div>
            </div>
            <div class="turn-box" id="black_turn">
                <img id="black-turn-image" src="/images/king_black.png"/>
                <div id="blackScore"></div>
                <div class="win_text" id="black_win">WIN!</div>
            </div>
            <div class="draw_text" id="draw">DRAW!</div>
        </div>
        <div class="menu-group">
            <button onclick="endGame()">종료</button>
            <button onclick="exitRoom()">나가기</button>
        </div>
    </div>

    <section id="chessBoard" class="outer-box">
        <div class="inner-box white" id="a8"></div>
        <div class="inner-box black" id="b8"></div>
        <div class="inner-box white" id="c8"></div>
        <div class="inner-box black" id="d8"></div>
        <div class="inner-box white" id="e8"></div>
        <div class="inner-box black" id="f8"></div>
        <div class="inner-box white" id="g8"></div>
        <div class="inner-box black" id="h8"></div>

        <div class="inner-box black" id="a7"></div>
        <div class="inner-box white" id="b7"></div>
        <div class="inner-box black" id="c7"></div>
        <div class="inner-box white" id="d7"></div>
        <div class="inner-box black" id="e7"></div>
        <div class="inner-box white" id="f7"></div>
        <div class="inner-box black" id="g7"></div>
        <div class="inner-box white" id="h7"></div>

        <div class="inner-box white" id="a6"></div>
        <div class="inner-box black" id="b6"></div>
        <div class="inner-box white" id="c6"></div>
        <div class="inner-box black" id="d6"></div>
        <div class="inner-box white" id="e6"></div>
        <div class="inner-box black" id="f6"></div>
        <div class="inner-box white" id="g6"></div>
        <div class="inner-box black" id="h6"></div>

        <div class="inner-box black" id="a5"></div>
        <div class="inner-box white" id="b5"></div>
        <div class="inner-box black" id="c5"></div>
        <div class="inner-box white" id="d5"></div>
        <div class="inner-box black" id="e5"></div>
        <div class="inner-box white" id="f5"></div>
        <div class="inner-box black" id="g5"></div>
        <div class="inner-box white" id="h5"></div>

        <div class="inner-box white" id="a4"></div>
        <div class="inner-box black" id="b4"></div>
        <div class="inner-box white" id="c4"></div>
        <div class="inner-box black" id="d4"></div>
        <div class="inner-box white" id="e4"></div>
        <div class="inner-box black" id="f4"></div>
        <div class="inner-box white" id="g4"></div>
        <div class="inner-box black" id="h4"></div>

        <div class="inner-box black" id="a3"></div>
        <div class="inner-box white" id="b3"></div>
        <div class="inner-box black" id="c3"></div>
        <div class="inner-box white" id="d3"></div>
        <div class="inner-box black" id="e3"></div>
        <div class="inner-box white" id="f3"></div>
        <div class="inner-box black" id="g3"></div>
        <div class="inner-box white" id="h3"></div>

        <div class="inner-box white" id="a2"></div>
        <div class="inner-box black" id="b2"></div>
        <div class="inner-box white" id="c2"></div>
        <div class="inner-box black" id="d2"></div>
        <div class="inner-box white" id="e2"></div>
        <div class="inner-box black" id="f2"></div>
        <div class="inner-box white" id="g2"></div>
        <div class="inner-box black" id="h2"></div>

        <div class="inner-box black" id="a1"></div>
        <div class="inner-box white" id="b1"></div>
        <div class="inner-box black" id="c1"></div>
        <div class="inner-box white" id="d1"></div>
        <div class="inner-box black" id="e1"></div>
        <div class="inner-box white" id="f1"></div>
        <div class="inner-box black" id="g1"></div>
        <div class="inner-box white" id="h1"></div>
    </section>

    <div class="error" id="error"></div>
</div>

<script src="/src/room.js"></script>
</body>
</html>
