<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link rel="stylesheet" href="/src/Chess.css"/>
</head>
<body>
<h1 class="centered">체스 게임</h1>

<form>
    <div>
        <label for="title" style="color: white">제목 :</label>
        <input type="text" id = "title" name="title" placeholder="제목을 입력하세요">
    </div>
    <div>
        <label for="password" style="color: white">비밀번호 : </label>
        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">
    </div>
    <button class="ok-button" onclick="createRoom()" id="ok-button" type="button">확인</button>
    <button class="home-button" id="home-button" onclick="goHome()" type="button">홈 버튼</button>
</form>
<script src="/src/App.js"></script>
</body>
</html>
