<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
    <link rel="stylesheet" href="/src/room.css">
</head>
<body>
<h1>체스게임</h1>
<div id="app">
    <button onClick="insertRoom()" id="insertButton">신규 생성</div>
    <div id="roomBox">
        <div id="rooms"></div>
    </div>
</div>

</div>
</body>
<script src ="/src/room.js"></script>
</html>
