<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체스방 리스트</title>
</head>
<body>
<div class="button">
    <button id="make-chess-room-button">체스방 생성</button>
</div>
</body>
</html>
