<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title> 체스 게임 </title>
  <link rel="stylesheet" href="/src/index.css">
  <script src="/src/rooms.js"></script>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <style>
    html, body{
    height:100%;
    }
    .container{
    height:100%;
    }
  </style>
</head>
<body>
<div class="container" style="background-color:gray;">
  <div class="row">
    <div class="col-md-8 room-list-box">
      <div class="row room-list">

        {{#each roomDtoList}}
        <div class="col-md-6 room-item">
          {{this.id}}
          <div class="game-info" id="gameName" onclick="enter(`{{this.name}}`);">{{this.name}}</div>
          <button type="button" id="removeBtn" onclick="remove(`{{this.name}}`);" value="">삭제삭제</button>
        </div>
        {{/each}}
      </div>

    </div>
    <div class="col-md-4">
      <div class="create-box">
        <form action="/rooms/create" method="post" id="create_room_form">
          <input type="text" name="room_name"  id="room_name" placeholder="게임명">
          <input type="text" name="room_password" id="room_password" placeholder="비밀번호">
          <input type="submit" value="방 생성">
        </form>
      </div>
    </div>
  </div>
</div>
<script> setUpIndex(); </script>
</body>
<script>

</script>
</html>
