<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/rooms.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>우아체스 - 방 목록</title>
</head>
<body>
<div class="header_box">
    <div class="title_box">
        <a href="/chess/home"><strong class="title_text">우아체스</strong></a>
        <img src="/images/logo.png" alt="우아한형제들 로고" id="logo">
    </div>
</div>
<div class="content_box_wrapper">
    <div class="content_box">
        <h2>방 목록</h2>
            {{#rooms}}
                <form action="rooms/delete" method="post">
                    - {{roomName}}
                    <input type="hidden" name="room_name" value="{{ roomName }}"/>
                    <input type="submit" value="X" id="delete"/>
                </form>
            {{/rooms}}
        <form method="post" id="room_form">
            <label for="room_name">방</label>
            <input type="text" name="room_name"><br/>
        </form>
        <button form="room_form">생성/입장</button>
        <a href="/chess/statistics">통계보러가기</a>
    </div>
</div>
</body>
</html>