<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>♟ LA KONG 's Chess Game ♟</title>
    <link href="/src/css/rooms.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/src/js/rooms.js"></script>
</head>
<body>
<div id="board_div" class="title">
    <div style="font-size: xx-large; padding-top:30px">♟ <b style="color: orange;">LA KONG</b> 's Chess Game ♟</div>
</div>
<div class="content">
    <input type="button" value="방 만들기" id="open_room" />
    <div class="room_info">
        <form action="/chess-game/index" method="post">
            <div>방 이름 : <input type="text" id="title" /></div>
            <div>비밀번호 : <input type="password" id="password" /></div>
            <div><input type="submit" value="시작" id="start" /></div>
        </form>
    </div>
</div>
</body>
