<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alpha Chess</title>
    <link rel="stylesheet" href="/src/indexDesign.css">
</head>
<body>
<h2>Chess Game</h2>
<table>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
    <tr>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
    </tr>
    <tr>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
        <td class="white-box">
        </td>
        <td class="black-box">
        </td>
    </tr>
</table>
<center>
<div>
    {{#each names}}
    <li>
    <form action="redirectPassword" method="post">
        <input type="hidden" name="roomName" value={{this}}> </input>
        {{this}}
        <button type="submit"> 삭제하기 </button>
    </form>
    </li>
    {{/each}}
    <form action="/" method="get">
        <button type="submit"> 완료 </button>
    </form>
</div>
</center>
</body>
</html>