<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/src/board.css"/>
    <meta charset="UTF-8">
    <title>체스 게임 종료</title>
    <link rel="stylesheet" href="src/board.css"/>
</head>
<body>
    <div class="chess">
        <img src ="images/chessBoard.png" id="chessBoard"/>
        <div class="pieces">
            {{#this.squares}}
            <img src="images/{{this.symbol}}.png" id="{{this.position}}"/>
            {{/this.squares}}
        </div>
        <form action="/" method="get">
            흰색 플레이어 점수: {{this.whiteScore}}
            <br />
            검은색 플레이어 점수: {{this.blackScore}}
            <br />
                <input type="submit" value="처음으로"/>
        </form>
    </div>
</body>
</html>