<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>체스 게임</title>
</head>

<body>
<center>
    <h1>♟ 웹 체스 게임 ♟</h1>
    <h3>체스 방의 제목과 비밀번호를 입력해 주세요</h3>
    <form action="/create" method="post">
        제목 : <input type="text" name="title"><br>
        비밀번호 : <input type="text" name="password"><br>
        <br>
        <input type="submit" value="확인">
    </form>
</center>
</body>
